*.class
target/*
build/*
generatedOut/JavaScriptCode.html
generatedOut/JavaCode.txt
generatedOut/GroovyCode.groovy

.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

*.iml

.idea/
/.gradle/

node_modules
/out/

.idea_modules/
